
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
    transform: translateY(-50px);
    opacity: 0;
    animation: moveFromTop 1s forwards; 
  }
  
  li a {
    display: block;
    text-decoration: none;
    padding: 12px;
    background-color:rgb(255, 255, 255);
    color: rgb(14, 12, 12);
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }
  .nav1 {
   width: 500px;
   margin: auto;
   display: flex;
   
  }
  @keyframes example {
    from {background-color: rgb(161, 137, 94);}
    to {background-color: rgb(3, 3, 3);}
  }

  #txt1 {
    font-size: 160px;
    animation-duration: 7s;
    animation-name: example;
  }

  @keyframes moveFromTop {
    0% {
      transform: translateY(-50px); 
      opacity: 0;
    }
    100% {
      transform: translateY(0); 
      opacity: 1;
    }
  }
 
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-info {
    text-align: right;
    position: relative;
    right: 420px;
}

.footer-info p {
    margin: 5px 0;
    text-align: left;
}

.footer-info a {
    color: #fff;
    text-decoration: none;
}

.footer-social {
    font-size: 24px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
}  
#logo1 {
    border-radius: 30px;
    position: relative;
    right: 100px;
    align-items: center;
}

#footer-info {
    
    right: 50px;
    text-align: center;
}
#footer-info-1 {
    padding-left: 40px;
    
}
.copyright-text {
    padding-left: 5px;
}
#opn1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(236, 248, 242);
}


#pp1 {
    text-align: center;
   
}
body {
    text-align: center;
    background-color: rgb(72, 73, 87);
}
#ii1 {
    border-radius: 50%;
    margin-right: 30px;
}
#mmm1 {
    font-size: 70px;
    text-align: center;
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#cp1 {
    color: #e6eae9;
}






